div.logo {
    height: 80px;
    width: 100%;
    border: 2px solid;
    padding: 10px;
    display: flex;
    align-items: center;
}

.select_role {
    position: absolute;
    left: 500px;
    padding: 10px;
    top: 40px;
}

.logout {
    position: absolute;
    right: 0;
    padding: 10px;
}

div.logo img {
    margin-right: 20px;
}

div.navbar {
    height: 100%;
    width: 120px;
    border: 2px solid;
    border-top: 0px;
    padding: 10px;
    padding-top: 30px;
    background-color: #e0e0e0;
}