.orderHome {
	position: absolute;
	top: 124px;
	left: 8px;
	height: 100%;
	width: 200px;
	padding: 0 2px;
	background: #f7efef;
	border: 2px solid;
	border-top: none;	
}

#items {
	height: 100%;
	display: flex;
	justify-content: space-between;
	padding: 20px 0;
}

#items, #orders, #managed {
	text-decoration: none;
	color: #3f51b5;
	margin: 10px 10px;
}
