@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

.bbb_deals_item {
    width: 100%;
    height: 67%;
}

.fulll{
    margin-top: 3%;
    padding: 0 0.5%;
}

.available{
    position: absolute;
    top: 83%;
    width: 100%;
}

.bbb_deals_slider_container {
    width: 100%;
    height: 55%;
    box-sizing: content-box;
}

@media only screen and (max-width: 399px){
    .col-md-4 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media only screen and (min-width: 400px) {
   /* .header__menu ul li {
        margin-right: 10px;
    }
    .header__nav__option a {
        margin-right: 10px;
    }
    .header__nav__option .price {
        margin-left: 0;
    }
    .hero__slider.owl-carousel .owl-nav button {
        left: 2px;
    }
    .hero__slider.owl-carousel .owl-nav button.owl-next {
        right: 2px;
    }
    .banner__item.banner__item--middle {
        margin-top: 0;
    }
    .banner__item.banner__item--last {
        margin-top: 0;
    }
    .banner__item {
        margin-bottom: 40px;
    }
    .banner {
        padding-bottom: 60px;
    }
    .categories__text {
        margin-bottom: 40px;
    }
    .categories__hot__deal {
        margin-bottom: 40px;
    }
    .instagram__text {
        padding-top: 70px;
    }
    .shop__sidebar {
        padding-right: 0;
        padding-top: 40px;
    }
    .cart__discount {
        margin-top: 40px;
    }
    .testimonial__text {
        padding: 100px 105px 100px;
    }
    .blog__details__share {
        position: relative;
        left: 0;
        margin-bottom: 18px;
    }
    .blog__details__share span {
        margin-bottom: 14px;
        margin-right: 0;
    }
    .blog__details__share ul li {
        margin-bottom: 15px;
        display: inline-block;
        margin-right: 10px;
    }
    .blog__details__share ul li:last-child {
        margin-right: 0;
    }*/
    .col-md-4 {
        -ms-flex: 0 0 33%;
        flex: 0 0 33%;
        max-width: 33%;
    }
    .available_title {
        margin-left: 4%;
        font-size: 61% !important;
    }
    .available {
        position: absolute;
        top: 83%;
        width: 71%;
    }
}

.bbb_deals_title {
    position: relative !important;
    top: 5% !important;
    left: 0 !important;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    display: flex;
    justify-content: center;
    padding-bottom: 8% !important;
}

.p_title{
    width:100%;
    text-align: center;
    font-size: 63%;
}

.mydiv{
    height: 100% !important;
    margin-left: 5.2% !important;
    margin-top: 2% !important;
}

.x{
    height: auto !important;
}

.prodAnchor{
    color: black !important;
    width: 100%;
    text-decoration: none !important;
}

.bbb_deals_item_price {
    font-size: 85% !important;
}


.bbb_deals {
    width: 88%;
    margin-right: 7%;
    padding-top: 0px !important;
    padding-left: 0 !important;
    padding-right:0 !important;
    box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 10%);
    border-radius: 5px;
    margin-top: 0px;
    height:100% !important;
    padding-bottom: 36% !important;
}

.bbb_deals_image {
    display: flex!important;
    justify-content: center!important;
}

.bbb_deals_image img {
    max-width: 75% !important;
    max-height: 100% !important;
}

.bbb_deals_content {
    padding: 0% 3% 3% 3% !important;
    margin-top: 0% !important;
    height: 30%;
}

.header__menu ul li a {
    font-weight: 600;
    text-decoration: unset !important;
    font-family: "Nunito Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
}

@media (min-width: 1200px){
    .container {
        max-width: 90%;
    }

}


body{
    font-family: "Nunito Sans", sans-serif !important;
}

.leftpane{
    width: 0px;
    height: auto !important;
    border-collapse: separate;
    border-color: rgba(4,11,5,0.15);
    border-width: 0.5px;
    border-right-style: solid;
    text-align: center;
}

.filterform{
    position: sticky;
    top:8%;
    width: 100% !important;
}

.filterinput{
    width: 80%;
}

.formMainLabel{
    margin-top:13%;
    font-weight: 600;
    text-decoration: unset !important;
    font-family: "Nunito Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
    font-size: 57%;
}



.contxxx{
    border-color: rgba(4,11,5,0.15);
    border-width: 0.5px;
    border-top-style: solid;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: content;
}

.prodName{
    width: 100% !important;
}

.clear { clear: both; }

.hidden {
    display: none;
}

.pagination-container {
    width: calc(100% - 2rem);
    display: flex;
    align-items: center;
    bottom: 0;
    padding: 1rem 0;
    justify-content: center;
}

.pagination-number,
.pagination-button{
    font-size: 1.1rem;
    background-color: transparent;
    border: none;
    margin: 0.25rem 0.25rem;
    cursor: pointer;
    height: 2.5rem;
    width: 2.5rem;
    border-radius: .2rem;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
    background: #fff;
}

.pagination-number.active {
    color: #fff;
    background: #0085b6;
}


.flex-row {
    height: 4%;
}

.available_title{
    margin-left: 4%;
    font-size: 70% !important;
}

.bbb_deals_item_price{
    position: absolute;
    bottom: 14%;
    padding-left: 4%;
}

.bbb_deals_item_category{
    bottom: 0%;
}

.bbb_deals_slider_container{
    height: 35%;
}

p.prodName{
    padding-left: 2.9%;
    font-size: 53%;
}


.bbb_deals_item_category a {
    font-size: 67%;
}

.mydiv{
    margin-left: 9% !important;
}