.bbb_deals_item {
    width: 100%;
}

.mydiv {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 70%;
}

.fulll{
    margin-top: 3%;
    padding: 0 0.5%;
}

.bbb_deals_slider_container {
    width: 100%;
    box-sizing: content-box;
}
@media (min-width: 768px) {
    .col-md-4 {
        -ms-flex: 0 0 25%;
        flex: 0 0 25%;
        max-width: 25%;
    }
}

.bbb_deals_title {
    position: relative !important;
    top: 5% !important;
    left: 0 !important;
    font-size: 18px;
    font-weight: 500;
    color: #000000;
    display: flex;
    justify-content: center;
    padding-bottom: 8% !important;
}

.p_title{
    width:100%;
    text-align: center;

}

.mydiv{
    height: 100% !important;
    margin:0 !important;
    width: 75%;
}

.x{
    height: 100% !important;
}

.bbb_deals {
    width: 100%;
    margin-right: 7%;
    padding-top: 0px !important;
    padding-bottom: 34px;
    padding-left: 0 !important;
    padding-right:0 !important;
    box-shadow: 1px 1px 5px 1px rgb(0 0 0 / 10%);
    border-radius: 5px;
    margin-top: 0px;
    height:100% !important;
}

.bbb_deals_image {
    display: flex!important;
    justify-content: center!important;
}

.bbb_deals_image img {
    max-width: 75% !important;
    max-height: 100% !important;
}

.bbb_deals_content {
    padding: 5% 3% 3% 3% !important;
}

.header__menu ul li a {
    font-weight: 600;
    text-decoration: unset !important;
    font-family: "Nunito Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
}

@media (min-width: 1200px){
    .container {
        max-width: 90%;
    }
}


body{
    font-family: "Nunito Sans", sans-serif !important;
}

.leftpane{
    width: 15%;
    height: 100%;
    border-collapse: separate;
    border-color: rgba(4,11,5,0.15);
    border-width: 0.5px;
    border-right-style: solid;
    text-align: center;
}

.filterinput{
    width: 80%;
}

.formMainLabel{
    margin-top:13%;
    font-weight: 600;
    text-decoration: unset !important;
    font-family: "Nunito Sans", sans-serif;
    -webkit-font-smoothing: antialiased;
}
.filterform{
    margin-top: 20%;
}

.contxxx{
    height: calc(100vh - 177px) !important;
    margin-top: 177px;
    border-color: rgba(4,11,5,0.15);
    border-width: 0.5px;
    border-top-style: solid;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: content;
}
