img.logoManga {
    width: 50%;
}
.header {
    background: #ffffff;
    height: 0;
}

@media (min-width: 1200px){
    .container {
        max-width: 90%;
    }
}

.widdd{
    width: 100%;
}
.header__nav__option {
    text-align: right;
    padding: 16% 0 26px;
}

.header__menu {
    text-align: center;
    padding: 7.3% 0;
}

.header__top__links a:last-child {
    margin-right: 0;
    margin-top: 5%;
}