html {
    width: 600px;
    margin: 10px auto;
}

table {
    width: 600px;
}

table, th, td {
    text-align: center;
    border: 1px solid;
    border-collapse: collapse;
}

table, th, td {
    padding: 5px;
}