.contxxx{
    height: calc(100vh - 177px) !important;
    margin-top: 177px;
    border-color: rgba(4,11,5,0.15);
    border-width: 0.5px;
    border-top-style: solid;
}

.mt-5{
    margin-top: 0px !important;
}

.btn-primary {
     color: #fff;
     background-color: #af1414 !important;
}

@media (min-width: 1200px){
    .container {
        max-width: 90%;
    }
}
