.contxxx{
    height: calc(100vh - 177px) !important;
    position: relative;
    bottom: 0px;
}

.mt-5{
    margin-top: 0px !important;
}

.thin{
    font-size: 1.05rem;
}
.p-4{
    padding-top: 1.5% !important;
    margin-left: 12%;
}

.mb-3{
    margin-bottom: 1.7rem!important;
}

.img-fluid{
    object-fit: contain;
    max-width: 350px;
    position: relative
}

.statesss{
color: #af1414;
font-size: 25px;
font-weight: 700;
}

.none_center{
text-align: unset !important;
width: 100%;
overflow-wrap: break-word;
font-size: 14px;
font-weight: 100;
}

.addInfs{
justify-content: center;
display:block;
}

/*
ul.inL li{
width: auto;
float: left;
list-style-position: inside;
}*/



.btn-primary {
     color: #fff;
     background-color: #af1414 !important;
}

@media (min-width: 1200px){
    .container {
        max-width: 90%;
    }
}
/*
li.mLeft {
    list-style: none;
    position: relative;
}

li::before {
    content:'•';
    position: absolute;
    left: -10px;
}

li.mLeft::marker{

}*/

.mLeft{
    font-weight: 600;
}
